$primary-colour: #ff33f5; //#5b6bff
$secondary-colour: #41ffe6;
$text-colour: rgb(255, 196, 0);

$cta-background: rgb(180, 180, 180);
$cta-colour: rgb(255, 251, 0);
$cta-shadow-colour: rgb(110, 255, 146);

$cta-overlay-colour: white;
$cta-overlay-background: rgb(111, 0, 255);

$grid-inner-border-right: yellow;

$border-grey: rgb(231, 231, 231);


body {
    background-color: #f6f6f6;
    background-color: #fffefe;
    background-color: #ffffff; background-size: 210px;
    background-image: url("/images/a9/A9P.svg");
}    
