$primary-colour: #9c3fff; // purple
$secondary-colour: #d932ff; // pink ars
$text-colour: #ff00f6;

$cta-background: black;
$cta-colour: white; //#ff00f6;
$cta-shadow-colour: #ff00f6;

$cta-overlay-background: black;
$cta-overlay-colour: white; 

$grid-inner-border-right: yellow;

$border-grey: rgb(231, 231, 231);


body {
    background-color: #f6f6f6;
    background-color: #fffefe;
    background-color: #ffffff; background-size: 210px;
    background-image: url("/images/af/AFP.svg");
}    
