$primary-colour:  #FEC641;
$secondary-colour: rgb(255, 230, 0);
$text-colour: rgb(255, 80, 11);

$cta-background: #1EB2FC;
$cta-colour: white;
$cta-shadow-colour: black;

$cta-overlay-colour: white;
$cta-overlay-background: yellow;

$grid-inner-border-right: yellow;

$border-grey: rgb(231, 231, 231);

body {
    background-color: #f6f6f6;
    background-color: #fffefe;
    background-color: #ffffff; background-size: 210px;
    background-image: url("/images/ap/APP.svg");
}    
