$primary-colour: red;
$secondary-colour:  rgb(0, 102, 255);
$text-colour: red;

$cta-background: white;
$cta-colour: yellow;
$cta-shadow-colour: red;

$cta-overlay-colour: white;
$cta-overlay-background: yellow;

$grid-inner-border-right: yellow;

$border-grey: rgb(231, 231, 231);

body {
    background-color: #f6f6f6;
    background-color: #fffefe;
    background-color: #ffffff; background-size: 210px;
    background-image: url("/images/apo/APOP.svg");
}    
