$primary-colour: #eebaf8;
$secondary-colour: pink;
$text-colour:  #1dfc8c;

$cta-background: rgb(180, 180, 180);
$cta-colour: black;
$cta-shadow-colour: rgb(110, 255, 146);

$cta-overlay-colour: white;
$cta-overlay-background: rgb(0, 195, 255);

$grid-inner-border-right: yellow;

$border-grey: rgb(231, 231, 231);

body {
    background-color: #f6f6f6;
    background-color: #fffefe;
    background-color: #ffffff; background-size: 210px;
    background-image: url("/images/aw/AWP.svg");
}    


