<h2>Edit Social media</h2>

<%= render "form.html", Map.put(assigns, :action, social_media_path(@conn, :update, @social_media)) %>

<span><%= link "Back", to: social_media_path(@conn, :index) %></span>
