<h2>Show Message</h2>

<ul>

  <li>
    <strong>Command:</strong>
    <%= @message.command %>
  </li>

  <li>
    <strong>Text:</strong>
    <%= @message.text %>
  </li>

</ul>

<span><%= link "Edit", to: message_path(@conn, :edit, @message) %></span>
<span><%= link "Back", to: message_path(@conn, :index) %></span>
